<!-- chat.component.html -->

<!-- Chat Button to open the chat window -->
<button class="chat-toggle-button" (click)="displayChatWindow = !displayChatWindow">
  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-chat-right-text" viewBox="0 0 16 16">
    <path d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1H2zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z"/>
    <path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
  </svg>
</button>

<!-- Chat Window -->
<div class="chat-window" [@flyInOut] *ngIf="displayChatWindow">
  <!-- Chat Header -->
  <div class="chat-header">
    <h5 class="mb-0">Chat</h5>
    <button type="button" class="close-chat-button" (click)="displayChatWindow = false">Close</button>
  </div>

  <!-- Chat Body (Message Display Area) -->
  <div class="chat-body" #chatBody>
    <ng-container *ngFor="let message of messages">
      <app-message [type]="message.type" [content]="message.text"></app-message>
    </ng-container>
  </div>

  <!-- Loading Indicator -->
  <span class="text-muted" *ngIf="isSearching">Generating...</span>

  <!-- Chat Footer (Input and Send Button) -->
  <form [formGroup]="chatForm" (ngSubmit)="send()" class="chat-footer">
    <img src="/assets/user.png" alt="User Icon" class="user-icon" width="36" height="36">

    <input formControlName="message" type="text" placeholder="Type message" />
    <button type="submit" class="send-button">Send</button>
  </form>
</div>
