<!-- User message -->
<div class="d-flex flex-row justify-content-end mb-4 align-items-center" *ngIf="type === 'user'">
  <div class="user-message-container">
    <p class="small p-2 mb-1 rounded-3 user-message">
      <img src="/assets/user.png" alt="User Icon" class="user-icon" width="36" height="36">
      {{ content }} <!-- Display the user message content -->
    </p>
  </div>
</div>

<!-- Chatbot message -->
<div class="d-flex flex-row justify-content-start mb-4 align-items-center" *ngIf="type === 'system'">
  <div class="system-message-container">
    <p class="small p-2 mb-1 rounded-3 system-message">
      {{ content }} <!-- Display the chatbot message content -->
      <img src="/assets/chatbot.png" alt="Chatbot Icon" class="chatbot-icon" width="36" height="36">
    </p>
  </div>
</div>
